# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Jupyter Notebooks and checkpoints
.ipynb_checkpoints/

# data files


# venv directories
venv/
env/
.venv/

# VS Code settings
.vscode/

# macOS specific files
.DS_Store

# log files
*.log

# temporary files
*.tmp
*.temp